.myinput {
  display: block;
  width: 90vw;
  height: 40px;

  padding: 16px;
  font-size: 21px;
  border-radius: 16px;

  background: green;
  color: greenyellow;
  font-family: cursive;
  font-weight: bold;

  border: none;
  margin-bottom: 8px;
}

.myinput::placeholder {
  color: greenyellow;
  opacity: 1; /* Firefox */
}

.mybtn {
  display: block;
  width: 94vw;
  height: 60px;
  padding: 16px;

  font-size: 21px;
  background: goldenrod;
  border: none;
  border-radius: 16px;
  color: black;
  font-family: cursive;
}
